# ─── TrackingTime ───────────────────────────────────────
TT_TOKEN=Basic <tu_token_base64_aqui>
TT_BASE_URL=https://api.trackingtime.co/api/v4
TT_DATE_FROM=2026-01-16
TT_DATE_TO=2026-02-15

# ─── Azure DevOps ────────────────────────────────────────
ADO_TOKEN=Basic <tu_pat_base64_aqui>
ADO_ORG=lagcloud
ADO_PROJECT_ID=a021666e-ab27-4aff-b40c-e655ab408f57
ADO_QUERY_ID=63e8151a-6a64-4d8f-830a-c97265b35732
ADO_BASE_URL=https://dev.azure.com
